/* App.css */
.home-page-container {
  background: linear-gradient(to bottom right, #4CAF50, #2196F3); /* Gradient background */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
  width: 60%;
  margin: auto;
  text-align: center;
}

.home-title {
  margin-bottom: 30px;
}

.continue-link {
  text-decoration: none;
}

.continue-button {
  background-color: #FFC107;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.continue-button:hover {
  background-color: #FFA000;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .home-page-container {
    width: 80%;
  }
}
